@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}

body{
  background:#16FF85;
}

ul{
	list-style: none;
}

ul li{
	padding: 10px 20px;
	position: relative;
	height: 20px;
	line-height:20px;
}

ul li ul {
  	width: 150px;
  	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
  	display: none;
  	opacity: 0;
  	visibility: hidden;
  	-webkit-transiton: opacity 0.2s;
  	-moz-transition: opacity 0.2s;
  	-ms-transition: opacity 0.2s;
  	-o-transition: opacity 0.2s;
  	-transition: opacity 0.2s;
}

ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: -1;
  text-color: black;
}

#name{
	font-size: 250%;
	color: blue;
}

#drop-down{
	
}

.text-center{
	text-align: center;
}

.img-circle{
    width:100px;
    height:100px;
    border-radius:50%;
    display:block;
    background-position-y:25%;
}

.container{
	float: none;
}