{% extends 'ylezzanne.html.twig' %}

{% set active = 'name' %}

{% block content %}
<div class="container">

<p>Games TEST:</p>

<ul>
{% for g in games %}
  <li> {{  g.name }} </li>
{% else %}
  <li>GAMES NOT FOUND!</li>
{% endfor %}
</ul>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Description</th>
            <th>Action </th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
            <tr>
                <td> {{ game.name|e }} </td>
                <td> {{ game.description }} </td>
                <td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">'No games to play!'</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}