{% extends 'ylezzanne.html.twig' %}

{% set active = 'name' %}

{% block content %}
<div class="container">
	<div class="row row-offcanvas row-offcanvas-left">
		<div class="col-xs-12">
			<p class="pull-left visible-xs">
			<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Men&uuml;&uuml;</button>
			</p>
			<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
				<div class="list-group">
					<a href="#" class="list-group-item active">men&uuml;&uuml; siia alla?</a>
					<a href="#" class="list-group-item">nupp</a>
					<a href="#" class="list-group-item">nupp</a>
					<a href="#" class="list-group-item">nupp</a>
					<a href="#" class="list-group-item">nupp</a>
					<a href="#" class="list-group-item">nupp</a>
					<a href="#" class="list-group-item">nupp</a>
				</div>
			</div>
			<div class="jumbotron col-xs-offset-0 col-sm-offset-3">

				<img src="{{ app.request.basepath }}/images/users/riismaa.jpg" alt="profiilipilt" class="img-circle">
				<p>Nimi</p> <b>{{name}}</b>
				<p>Email</p>
				<p>Vanus</p>
				<p>Huvid</p>
				<p>Registreerus</p>
				<p><a href="muudaparool.html">Muuda parool</a></p>
			</div>
		</div>
	</div>
</div>

{% endblock %}