@charset "utf-8";
/* CSS Document */

.mang{
	padding-left: 25px;
	margin-bottom: 30px;
	width: 450px;
	height: 300px;
}

#msg {
	width: 450px;
	position: relative;
	text-align: center;
}

#playArea {
	display: none;
	border: 2px solid red;
}

#stardinupp{
	width: 450px;
	height: 300px;
	text-align: center;
	border: 2px solid red;
}

.img-circle {
	width: 200px;
	height: 200px;
}

body{
	padding-top: 100px;
}

body.liikumisega{
	overflow-x: hidden;
}

table.statistika{
	width: 600px;
	border: 1px;
	border-spacing: 5px;
	border-collapse: separate;
	padding: 10px;
}

@media screen and (max-width: 767px) {
.row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
}

.row-offcanvas-right {
    right: 0;
}

.row-offcanvas-left {
    left: 0;
}

.row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
}

.row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
}

.row-offcanvas-right.active {
    right: 50%; /* 6 columns */
}

.row-offcanvas-left.active {
    left: 50%; /* 6 columns */
}

.sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
}
}